<div class="panel panel-primary">
    <div class="panel-heading">
        New Student Course
    </div>
    <div class="panel-body">
        <%= render 'form', student_course: @student_course %>
    </div>
    <div class="panel-footer">
        <%= link_to 'Back', student_courses_path, class: 'btn btn-default btn-md' %>
    </div>
</div>